server:
  port: 8085

spring:
  datasource:
    url: jdbc:mysql://*.*.*.*:3306/calendar?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: game
    password: ljy1314
    druid:
      initial-size: 5 #连接池初始化大小
      min-idle: 10 #最小空闲连接数
      max-active: 20 #最大连接数
      web-stat-filter:
        exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*" #不统计这些请求数据
      stat-view-servlet: #访问监控网页的登录用户名和密码
        login-username: druid
        login-password: druid
  rabbitmq:
    host: *.*.*.*# rabbitmq的连接地址
    port: 5672
    virtual-host: /schedule # rabbitmq的虚拟host
    username: game # rabbitmq的用户名
    password: ljy1314 # rabbitmq的密码
    #publisher-returns: true #如果对异步消息需要回调必须设置为true

logging:
  level:
    root: info

    # 消息队列定义
#rabbitmq:
#  queue:
#    name:
#      cancelOrder: cancelOrderQueue
